.jumbotron-image{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    padding: 10px 10px 0 10px;
    color: white;
    margin-bottom: 0px;
    margin-top:10px
}