$amarillo: #f1c400;
$verde: #27ae60;
$rojo: #e74c3c;

@mixin margenes($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin relleno($top,$bottom,$left,$right) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}
.jumbotron{
    background-color: $rojo;
    color:black;
    @include margenes(50px,0px);
}
footer{
    @include relleno(10px, 10px,0px ,10px);
    color: $amarillo;
    @include margenes(10px,0px);
}