.jumbotron {
  background-color: #e74c3c;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 10px;
  color: #f1c400;
  margin-top: 10px;
  margin-bottom: 0px; }
